/*! DEBUG */
.debug * {
  border: 1px solid black;
}

/*! INIT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  display: inline;
  text-decoration: none;
}

a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/*! BODY */
body {
  width: 100%;
  height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #224760;
  background-color: #fefcf8;
}

/*! HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 0 50px;
  background-color: #f6f8fee5;
}

.logo {
  width: 50%;
  height: 100%;
}

nav.nav-desktop {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav.nav-desktop li {
  margin-right: 20px;
}
nav.nav-desktop li:last-child {
  margin-right: 0;
}

/*! MAIN */
main.home {
  width: 100%;
  height: 90vh;
}

main.dashboard {
  width: 100%;
  height: 100%;
  background-color: #fae3ec;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.dashboard .container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main.dashboard .container .doctor-left-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  flex: 0 0 350px;
  padding: 50px;
  color: #fefcf8;
  background-color: #528f87;
}
main.dashboard .container .doctor-left-container .doctor-icons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  font-size: 3em;
}
main.dashboard .container .doctor-left-container .doctor-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #fefcf8;
  overflow: hidden;
}
main.dashboard .container .doctor-left-container .doctor-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main.dashboard .container .doctor-left-container .doctor-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
main.dashboard .container .doctor-left-container .doctor-info .doctor-name {
  width: 100%;
  display: flex;
  justify-content: center;
}
main.dashboard .container .doctor-left-container .doctor-menu {
  width: 100%;
}
main.dashboard .container .doctor-left-container .doctor-menu li {
  font-size: 1.5em;
  display: block;
  margin-bottom: 20px;
}
main.dashboard .container .doctor-left-container .doctor-menu li:last-child {
  margin-bottom: 0;
}
main.dashboard .container .doctor-right-container {
  flex: 1 1 auto;
  background-color: #f6f8fee5;
}

/*! FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  color: #fafafa;
  background-color: #1c4d7c;
}

.wrapper-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  width: 50%;
  max-width: 500px;
  height: 500px;
  margin: auto;
  background-color: #1c4d7c;
  color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #becad4;
}
.wrapper-auth .form-auth {
  height: 80%;
  width: 50%;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper-auth .form-auth .auth-item-input {
  margin: 10px 0;
}
.wrapper-auth .form-auth .auth-item-input input {
  height: 30px;
  width: 100%;
}
.wrapper-auth .form-auth .button-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper-auth .form-auth .button-auth button {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-color: #fafafa;
  color: #1c4d7c;
  border: 1px solid #1c4d7c;
  padding: 7.5px 25px;
  border-radius: 5px;
}
.wrapper-auth .form-auth .button-auth button:hover {
  background-color: #1c4d7c;
  color: #fafafa;
  border: 1px solid white;
  transition: 0.2s linear;
}
.wrapper-auth .form-auth .button-auth .forgot-your-password {
  text-align: center;
  font-size: 11px;
}
.wrapper-auth .form-auth .button-auth .forgot-your-password:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.card-header {
  font-size: 25px;
}