@charset "UTF-8";
/*! DEBUG */
.debug * {
  border: 1px solid black;
}

/*! INIT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  text-decoration: none;
}

a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/*! OBJECTS */
/*! MARGINS */
.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-100 {
  margin-top: 100px;
}

/*! MIXINS */
/*! INPUTS */
/*! BUTTONS */
.small-button {
  width: 100px;
  height: 30px;
  border: 0px solid transparent;
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 2px;
  cursor: pointer;
}

.big-button {
  width: 200px;
  height: 50px;
  border: 0px solid transparent;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

select.index-select {
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  width: 300px;
  height: 50px;
  padding: 5px 15px;
  outline: none;
  border: 1px solid #1c4d7c;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
  transition: 200ms ease-in-out;
}
select.index-select:focus {
  border-color: #1c4d7c;
  outline: 0;
}

button.search-btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  width: 100px;
  height: 50px;
  border: 1px solid #1c4d7c;
  background-color: #1c4d7c;
  color: #fafafa;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
  transition: 200ms ease-in-out;
}
button.search-btn:hover {
  background-color: #fafafa;
  color: #1c4d7c;
}

button.collaborate {
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border: 1px solid #ea0058;
  background-color: #ea0058;
  color: #fafafa;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
  transition: 200ms ease-in-out;
}
button.collaborate:hover {
  background-color: transparent;
  color: #1c4d7c;
  border: 1px solid #1c4d7c;
}

.small-button:hover,
.big-button:hover {
  transition: 2s;
  box-shadow: #a1a1a1 0px 5px 15px;
  cursor: pointer;
}

.green-button {
  background-color: #528f87;
  color: #f6f8fe;
}

.pink-button {
  background-color: #fae3ec;
  color: #1c4d7c;
}

/*! MODULAR CLASSES */
.none {
  display: none !important;
}

.relative {
  position: relative !important;
}

.no-padding {
  padding: 0 !important;
}

.vh-25 {
  height: 25vh;
}

.vh-45 {
  height: 45vh;
}

/* BACKGROUND COLORS */
.bg-color-yellow {
  background-color: #ffe9a7;
}

.bg-color-lightblue {
  background-color: #cef5f2;
}

.nav_scrollOverHeader {
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
}

/*! TYPOGRAPHY */
h2 {
  color: #224760;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
}

h2.banner {
  font-size: 56px;
  font-weight: 800;
  text-align: center;
  color: #528f87;
}

h2.dashboard-title {
  color: white;
}

h3 {
  color: #224760;
  font-size: 32px;
  font-weight: 700;
}

h4 {
  color: #224760;
  font-size: 24px;
  font-weight: 500;
}

p.generic {
  font-size: 18px;
}

/*! BODY */
body {
  width: 100%;
  height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #224760;
  background-color: #f6f8fe;
  overflow: auto;
}

/*! HEADER */
.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  z-index: 991;
  transform: translateY(-100%);
  transition: 600ms ease-in-out;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.menu-mobile li {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
  width: 500px;
  transition: 120ms ease-in-out;
  padding-left: 10px;
  border-left: 4px solid transparent;
}
.menu-mobile li:last-child {
  margin-bottom: 0;
}
.menu-mobile li:nth-child(4) {
  margin-bottom: 80px;
}
.menu-mobile li:hover {
  border-left: 4px solid #224760;
  padding-left: 22px;
}

header {
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  background-color: #f6f8fe;
  transition: 200ms ease-in-out;
}
header .header-wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 1px 2px 2px #a1a1a1;
}
header .header-wrapper .logo span.true {
  color: #528f87;
}
header .header-wrapper .logo span.doctors {
  color: #1c4d7c;
}
header .header-wrapper nav.nav-desktop {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-wrapper nav.nav-desktop li {
  margin-right: 20px;
}
header .header-wrapper nav.nav-desktop li:last-child {
  margin-right: 0;
}
header .header-wrapper nav.nav-desktop li:nth-child(4) {
  margin-right: 60px;
}
header .header-wrapper nav.nav-mobile {
  width: 80%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
header .header-wrapper nav.nav-mobile .hamburger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 992;
}
header .header-wrapper nav.nav-mobile .hamburger div {
  width: 80%;
  height: 3px;
  background: #224760;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
header .header-wrapper nav.nav-mobile .hamburger .hamburger-line:nth-child(1) {
  transform: translate(-50%, -50%) translateY(-8px);
}
header .header-wrapper nav.nav-mobile .hamburger .hamburger-line:nth-child(2) {
  background: #224760;
}
header .header-wrapper nav.nav-mobile .hamburger .hamburger-line:nth-child(3) {
  background: #224760;
  box-shadow: 1px gray;
}
header .header-wrapper nav.nav-mobile .hamburger .hamburger-line:nth-child(4) {
  background: #224760;
  transform: translate(-50%, -50%) translateY(8px);
}
header .header-wrapper nav.nav-mobile .hamburger.active .hamburger-line:nth-child(1) {
  transform: translate(-50%, -50%) translateY(-20px);
  opacity: 0;
}
header .header-wrapper nav.nav-mobile .hamburger.active .hamburger-line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .header-wrapper nav.nav-mobile .hamburger.active .hamburger-line:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .header-wrapper nav.nav-mobile .hamburger.active .hamburger-line:nth-child(4) {
  transform: translate(-50%, -50%) translateY(20px);
  opacity: 0;
}

/*! MAIN HOME */
main.home {
  margin-top: 110px;
  width: 100%;
  background-color: #fefcf8;
}
main.home .jumbotron-big {
  width: 100%;
  height: 700px;
  background-color: #f6f8fe;
  padding: 50px 0;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
}
main.home .jumbotron-small {
  width: 100%;
  height: 40vh;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
}

.jumbotron-wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.jumbotron-wrapper .jumbotron-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.jumbotron-wrapper .jumbotron-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.jumbotron-wrapper .jumbotron-right-container img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.jumbotron-wrapper .sponsorized_doctors {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  height: 44vh;
}

.info_doctor .contatti li {
  display: block;
}

/*! INDEX */
.doctors-container {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.doctors-container .doctors-scroll-container {
  width: 100%;
  height: 520px;
  overflow-x: auto;
  white-space: nowrap;
}
.doctors-container .doctors-scroll-container .doctors-card {
  display: inline-block;
  color: white;
  width: 400px;
  height: 500px;
  padding: 20px;
  background-color: #528f87;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
}
.doctors-container .doctors-scroll-container .doctors-card ul li {
  display: block;
}

section#banner {
  width: 70%;
  margin: 30px auto;
  height: 400px;
  padding: 50px 0;
}
section#banner .banner-container {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#banner .banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  border: 1px solid #528f87;
}
section#banner .banner-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  border: 1px solid #528f87;
}

section#collaborate {
  width: 100%;
  height: 800px;
  padding: 50px 0;
  background-color: #fae3ec;
  background-image: url(../img/bg-bottom-1.webp);
  background-position: bottom;
  background-repeat: repeat-x;
}
section#collaborate .collaborate-wrapper {
  width: 65%;
  margin: 0 auto;
  height: 100%;
}

/*ABOUT PAGE*/
.bg-image-3 {
  background-image: url("../img/info-graphic-13.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 50%;
  background-position: right bottom;
}

.about_container {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_item {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.about_item_2 {
  width: 70%;
  padding: 20px;
}

.about_item_3 {
  width: 30%;
}

.about_item_3 img {
  width: 100%;
}

.about_item_2 img {
  max-width: 10%;
}

.about_item_2 h3,
.about_item_3 h3 {
  padding: 20px;
}

.about_main {
  width: 100%;
  background-color: #f5f8ff;
  text-align: center;
  padding: 30px 0px;
}

.about_red {
  color: #f75e75;
}

.about_green {
  color: #008075;
}

.about_submain {
  width: 80%;
  margin: 0 auto;
}

.about_uppercase {
  text-transform: uppercase;
  font-size: 20px;
}

.top_main {
  padding: 30px;
  font-size: 20px;
}

.top_main img {
  width: 80%;
}

.about_card_container {
  display: flex;
}

.about_card {
  background-color: #224760;
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  margin: 10px;
}

.about_card:hover {
  color: #224760;
  background-color: lightgrey;
  transition: 2s;
}

.about_card i {
  font-size: 100px;
  padding: 10px;
}

.about_padding {
  padding: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  margin-top: 60px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On hover effect */
#triggerModal:hover {
  color: green;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100vh;
}

.bg-image {
  height: 100%;
  background-image: url(../img/info-graphic-10.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 85%;
}

.container-faq {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  padding-top: calc(50px - 18px);
}
.container-faq button.accordion {
  margin-top: 18px;
  background-color: #f6f8fe;
  color: #1c4d7c;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.4s;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-faq button.accordion.active,
.container-faq button.accordion:hover {
  color: white;
  background-color: #1c4d7c;
  box-shadow: none;
}
.container-faq button.accordion:after {
  content: "+";
  color: #1c4d7c;
  float: right;
  margin-left: 5px;
}
.container-faq button.accordion:hover::after {
  color: white;
}
.container-faq button.accordion.active:after {
  content: "\2212";
  color: white;
}
.container-faq div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}
.container-faq div.panel.show {
  padding: 18px;
  opacity: 1;
  max-height: 500px;
  -o-box-shadow: 0px 6px 5px -6px #a1a1a1;
  box-shadow: 0px 6px 5px -6px #a1a1a1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-image-2 {
  height: 100%;
  background-image: url(../img/info-graphic-9.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 20%;
}

.half-size {
  width: 50%;
}

/*! MAIN CARD */
main.card {
  width: 100%;
  height: 100%;
  background-color: #f6f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.card .wrapper-auth {
  min-height: 500px;
  width: 50%;
  padding: 2%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #1c4d7c;
  color: #fafafa;
}
main.card .wrapper-auth .form-auth {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main.card .wrapper-auth .form-auth .auth-item-input {
  margin: 10px 0;
}
main.card .wrapper-auth .form-auth .auth-item-input input {
  height: 30px;
  width: 100%;
}
main.card .wrapper-auth .form-auth .button-auth {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  /* button {
      margin: 10px 0;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
      padding: 7.5px 25px;
      border-radius: 5px;
      &:hover {
          background-color: $blue;
          color: $white;
          border: 1px solid white;
          transition: .2s linear;
      }
  } */
}
main.card .wrapper-auth .form-auth .button-auth .forgot-your-password {
  text-align: center;
  font-size: 11px;
}
main.card .wrapper-auth .form-auth .button-auth .forgot-your-password:hover {
  text-decoration: underline;
  opacity: 0.8;
}
main.card .card-header {
  font-size: 25px;
}

/*! MAIN DASHBOARD */
main.dashboard {
  width: 100%;
  height: 100%;
  background-color: #f6f8fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.dashboard .container {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: #1c4d7c 0px 30px 90px;
}
main.dashboard .container .doctor-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  flex: 0 0 350px;
  padding: 20px;
  color: #fefcf8;
  background-color: #1c4d7c;
  text-transform: capitalize;
}
main.dashboard .container .doctor-left-container .doctor-icons {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
}
main.dashboard .container .doctor-left-container .doctor-icons form {
  display: none;
}
main.dashboard .container .doctor-left-container .doctor-icons a:hover {
  transition: 600ms;
  text-shadow: 0px 0px 10px #f6f8fe;
}
main.dashboard .container .doctor-left-container .doctor-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #fafafa;
  overflow: hidden;
}
main.dashboard .container .doctor-left-container .doctor-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main.dashboard .container .doctor-left-container .doctor-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
main.dashboard .container .doctor-left-container .doctor-info .doctor-name {
  width: 100%;
  display: flex;
  justify-content: center;
}
main.dashboard .container .doctor-left-container .doctor-menu {
  width: 100%;
}
main.dashboard .container .doctor-left-container .doctor-menu li {
  font-size: 1.5em;
  display: block;
  margin-bottom: 20px;
  border-left: 5px solid transparent;
  padding-left: 5px;
}
main.dashboard .container .doctor-left-container .doctor-menu li:last-child {
  margin-bottom: 0;
}
main.dashboard .container .doctor-left-container .doctor-menu li {
  transition: 120ms ease-in-out;
  padding-left: 10px;
  border-left: 4px solid transparent;
}
main.dashboard .container .doctor-left-container .doctor-menu li:hover {
  border-left: 4px solid #f6f8fe;
}
main.dashboard .container .doctor-right-container {
  flex: 1 1 auto;
  background-color: #fefcf8;
}
main.dashboard .container .doctor-right-container .doctor-right-top-container {
  height: 15%;
  background-color: #1c4d7c;
  color: #fefcf8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container {
  height: 85%;
  padding: 20px 20px;
  background-image: url(../img/info-graphic-8.png);
  background-size: 550px;
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: justify;
  text-justify: inter-word;
  overflow-y: auto;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .personal_info h4 {
  margin-bottom: 30px;
  text-transform: capitalize;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details {
  height: 100%;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost {
  display: flex;
  align-items: center;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost div {
  width: 300px;
  display: flex;
  align-items: center;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost div * {
  margin-right: 50px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost input[type=submit]::after {
  content: "ciao";
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section {
  scroll-snap-align: start;
  height: 100%;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section li {
  display: block;
  margin-bottom: 10px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section {
  margin-bottom: 40px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review:last-child,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message:last-child,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost:last-child,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section:last-child {
  margin-bottom: 0;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section {
  width: 100%;
  transition: 600ms;
  border: 1px solid transparent;
  background-color: #fae3ec;
  padding: 10px 10px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review span,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message span,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details span,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost span,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section span {
  color: #528f87;
  font-weight: bolder;
  text-transform: capitalize;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review h4,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review h3,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review p,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message h4,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message h3,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message p,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details h4,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details h3,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details p,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost h4,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost h3,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost p,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section h4,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section h3,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section p {
  margin-bottom: 10px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section:hover {
  box-shadow: #a1a1a1 0px 5px 15px;
  cursor: pointer;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review #message_details,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message #message_details,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details #message_details,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost #message_details,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section #message_details {
  transition: 600ms;
  color: #528f87;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review #message_details i,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message #message_details i,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details #message_details i,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost #message_details i,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section #message_details i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 4em;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review #message_details i:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message #message_details i:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details #message_details i:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost #message_details i:hover,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section #message_details i:hover {
  font-weight: bold;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review .form-auth-item,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message .form-auth-item,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details .form-auth-item,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost .form-auth-item,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section .form-auth-item {
  display: flex;
  align-items: center;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review .form-auth-item label,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message .form-auth-item label,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details .form-auth-item label,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost .form-auth-item label,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section .form-auth-item label {
  margin-right: 20px;
  text-transform: capitalize;
  color: #528f87;
  font-weight: bold;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review .form-auth-item input,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message .form-auth-item input,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details .form-auth-item input,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost .form-auth-item input,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section .form-auth-item input {
  padding: 10px 10px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review .form-auth-item #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message .form-auth-item #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details .form-auth-item #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost .form-auth-item #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section .form-auth-item #answer {
  min-height: 100px;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review #email_patient,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_review #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message #email_patient,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details #email_patient,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .card_message_details #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost #email_patient,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .single_boost #answer,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section #email_patient,
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .marks_section #answer {
  width: 300px;
  height: 30px;
  text-transform: capitalize;
  border: 1px solid #fae3ec;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container h4 span {
  color: #528f87;
  font-weight: bolder;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container .form-auth-item * {
  padding-bottom: 5px;
  overflow: hidden;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container #specialization {
  width: 30%;
  height: 100px;
  overflow: scroll;
  scroll-behavior: smooth;
}
main.dashboard .container .doctor-right-container .doctor-right-bottom-container #confirm_modification {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/*! FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  color: #fafafa;
  background-color: #1c4d7c;
  text-align: center;
}

/*! QUERY TABLET */
@media screen and (max-width: 1170px) {
  nav.nav-desktop {
    display: none !important;
  }

  nav.nav-mobile {
    display: flex !important;
  }
}
/*! QUERY MOBILE */