/*! MAIN CARD */

main.card {
    @include flex-center;
    .wrapper-auth {
        position: relative;
        height: fit-content;
        width: 50%;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background-color: $color-primary;
        color: $white;
        .doctor-icons {
            position: absolute;
            top: 15px;
            right: 15px;
            text-align: center;
            font-size: 10px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            i {
                font-size: 30px;
                margin-right: 10px;
                transition: $long-transition;
                &:hover {
                    text-shadow: 0px 0px 10px $color-background;
                }
            }
        }
        .card-header {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            @include standard-margin-bottom;
        }
        .form-auth {
            height: 80%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .auth-item-input {
                margin: 10px 0;
                input {
                    height: 30px;
                    width: 100%;
                }
                input {
                    background-color: $color-background;
                    border: none;
                    outline: none;
                    padding: 5px 15px;
                    height: 30px;
                    @include box-shadow;
                }
                select {
                    cursor: pointer;
                    font-family: inherit;
                    font-size: 14px;
                    width: 100%;
                    height: 30px;
                    padding: 5px 15px;
                    outline: none;
                    color: $color-primary;
                    border: none;
                    @include box-shadow;
                    transition: $short-transition;
                    &:focus {
                        border-color: $color-primary;
                        outline: 0;
                    }
                }
                textarea.message {
                    font-family: inherit;
                    width: 100%;
                    height: 300px;
                    padding: 10px 15px;
                }
            }
            .form-auth-item {
                label {
                    font-size: 12px;
                }
                button {
                    cursor: pointer;
                    font-family: inherit;
                    font-size: 14px;
                    width: 100px;
                    height: 40px;
                    border: 1px solid $color-background;
                    background-color: $color-primary;
                    color: $white;
                    @include box-shadow;
                    transition: $short-transition;
                    &:hover {
                        background-color: $white;
                        color: $color-primary;
                    }
                }
                select.review-vote {
                    margin-left: 20px;
                    cursor: pointer;
                    font-family: inherit;
                    font-size: 14px;
                    width: 50px;
                    height: 30px;
                    padding: 5px 7px;
                    outline: none;
                    color: $color-primary;
                    border: none;
                    @include box-shadow;
                    transition: $short-transition;
                    &:focus {
                        border-color: $color-primary;
                        outline: 0;
                    }
                }
            }
            .forgot-your-password {
                text-align: center;
                font-size: 11px;
                margin-left: 10px;
                &:hover {
                    text-decoration: underline;
                    opacity: 0.8;
                }
            }
        }
    }
}

.card-header {
    font-size: 25px;
}