/*! FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    color: $white;
    background-color: $color-primary;
    font-size: 0.8em;
    p, a, li {
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
    }
    p:hover, a:hover, li:hover {
        border-bottom: 1px solid $color-background;
        cursor: pointer;
    }
    .upper_footer,
    .lower_footer,
    .main_footer {
        @include main-wrapper;
        
    }
    .upper_footer {
        display: flex;
        justify-content: space-between;
        @include standard-margin-bottom;
    }
    .lower_footer {
        display: flex;
        justify-content: space-between;
        @include standard-margin-bottom;
        span {
            @include standard-margin-bottom;
            color: $white;
            font-weight: bold;
            font-size: 1.2em;
        }
        ul {
            display: flex;
            flex-direction: column;
            li {
                @include small-margin-bottom;
            }
        }       
    }
}