/*! HEADER */

.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 991;
    transform: translateY(-100%);
    transition: 600ms ease-in-out;
    @include box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    ul {
        @include main-wrapper;
        li {
            width: 100%!important;
            display: block;
            font-size: 30px;
            margin-bottom: 20px;
            @include transition-border-li;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(4) {
                margin-bottom: 80px;
            }
            &:hover {
                border-left: 4px solid $color-font-primary;
                padding-left: 22px;
            }
        }
    }
}

header {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    background-color: $color-background;
    transition: 200ms ease-in-out;
    .header-wrapper {
        @include main-wrapper;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 800;
            @include text-shadow;
            span.true {
                color: $color-secondary;
            }
            span.doctors {
                color: $color-primary;
            }
        }
        nav.nav-desktop {
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
                padding-bottom: 10px;
                border-bottom: 1px solid transparent;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                &:nth-child(4) {
                    margin-right: 30px;
                }
                &:nth-child(5) {
                    padding: 7px 20px;
                    border: 1px solid $color-primary;
                    border-radius: 20px;
                    transition: 200ms ease-in-out;
                    margin-right: 10px;
                    &:hover {
                        text-decoration: none;
                        color: $white;
                        background-color: $color-primary;
                    }
                }
                &:hover {
                    border-bottom: 1px solid $color-primary;
                }
            }
        }
        nav.nav-mobile {
            width: 80%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: flex-end;
            .hamburger {
                cursor: pointer;
                position: relative;
                width: 30px;
                height: 30px;
                z-index: 992;
            }
            .hamburger div {
                width: 80%;
                height: 3px;
                background: $color-font-primary;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50%);
                transition: .2s ease-in-out;
            }
            .hamburger .hamburger-line:nth-child(1) {
                transform: translate( -50%, -50%) translateY(-8px);
            }
            .hamburger .hamburger-line:nth-child(2) {
                background: $color-font-primary;
            }
            .hamburger .hamburger-line:nth-child(3) {
                background: $color-font-primary;
                box-shadow: 1px gray;
            }
            .hamburger .hamburger-line:nth-child(4) {
                background: $color-font-primary;
                transform: translate( -50%, -50%) translateY(8px);
            }
            .hamburger.active .hamburger-line:nth-child(1) {
                transform: translate( -50%, -50%) translateY(-20px);
                opacity: 0;
            }
            .hamburger.active .hamburger-line:nth-child(2) {
                transform: translate( -50%, -50%) rotate(45deg);
            }
            .hamburger.active .hamburger-line:nth-child(3) {
                transform: translate( -50%, -50%) rotate(-45deg);
            }
            .hamburger.active .hamburger-line:nth-child(4) {
                transform: translate( -50%, -50%) translateY(20px);
                opacity: 0;
            }
        }
    }
}