/*! INDEX */

.doctors-container {
    @include main-wrapper;
    @include main-padding;
    height: fit-content;
    .doctors-scroll-container {
        width: 100%;
        height: 400px;
        overflow: auto;
        white-space: nowrap;
        .doctors-card {
            display: inline-block;
            color: white;
            width: 400px;
            height: 100%;
            padding: 20px;
            background-color: $color-secondary;
            @include box-shadow;
            ul li {
                display: block;
            }
        }
    }
}

section#collaborate {
    width: 100%;
    height: 500px;
    @include main-padding;
    .collaborate-wrapper {
        width: 65%;
        height: 100%;
        margin: 0 auto;
    }
}