/*! MAIN */


/*! MAIN HOME */

main.home {
    min-height: 100vh;
}

.info_doctor {
    .contatti {
        li {
            display: block;
        }
    }
}


/*! MAIN DASHBOARD */

main.dashboard {
    width: 100%;
    height: 100%;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        .doctor-left-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-flow: column nowrap;
            flex: 0 0 350px;
            padding: 50px;
            color: $cream-white;
            background-color: $color-primary;
            .doctor-icons {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-around;
                font-size: 3em;
            }
            .doctor-pic {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 2px solid $color-border;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .doctor-info {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-flow: column nowrap;
                .doctor-name {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            .doctor-menu {
                width: 100%;
                li {
                    font-size: 1.5em;
                    display: block;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .doctor-right-container {
            flex: 1 1 auto;
            background-color: $color-container;
        }
    }
}


/*! MAIN CARD */

main.card {}