/*! OBJECTS */


/*! MARGINS */

@for $i from 1 through 10 {
    .margin-top-#{$i * 10} {
        margin-top: #{$i * 10}px;
    }
}

@mixin small-margin-bottom {
    margin-bottom: 10px;
}

@mixin standard-margin-bottom {
    margin-bottom: 20px;
}

@mixin wide-margin-bottom {
    margin-bottom: 40px;
}


/*! MIXINS */

@mixin main-wrapper {
    width: 70%;
    margin: 0 auto;
}

@mixin small-padding-all-around {
    padding: 10px 10px;
}

@mixin main-padding {
    padding: 50px 0;
}

@mixin big-padding {
    padding: 100px 0;
}

@mixin flex-center {
    width: 100%;
    height: 100%;
    background-color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 6px 5px -6px $color-shadow;
    -moz-box-shadow: 0px 6px 5px -6px $color-shadow;
    -o-box-shadow: 0px 6px 5px -6px $color-shadow;
    box-shadow: 0px 6px 5px -6px $color-shadow;
}

@mixin box-shadow-dashboard-card {
    box-shadow: $color-shadow 0px 5px 15px;
    cursor: pointer;
}

@mixin text-shadow {
    text-shadow: 1px 2px 2px $color-shadow;
}

@mixin transition-border-li {
    transition: 120ms ease-in-out;
    padding-left: 10px;
    border-left: 4px solid transparent;
}


/*! INPUTS */


/*! BUTTONS */

.small-button {
    width: 100px;
    height: 30px;
    border: 0px solid transparent;
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.big-button {
    width: 200px;
    height: 50px;
    border: 0px solid transparent;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

select.index-select {
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    width: 300px;
    height: 50px;
    padding: 5px 15px;
    outline: none;
    border: 1px solid $color-primary;
    @include box-shadow;
    transition: 200ms ease-in-out;
    &:focus {
        border-color: $color-primary;
        outline: 0;
    }
}

button.search-btn {
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    width: 100px;
    height: 50px;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $white;
    @include box-shadow;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: $white;
        color: $color-primary;
    }
}

button.collaborate {
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border: 1px solid $pink;
    background-color: $pink;
    color: $white;
    @include box-shadow;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;
    }
}

.small-button:hover,
.big-button:hover {
    transition: 2s;
    @include box-shadow-dashboard-card;
}

.green-button {
    background-color: $light-green;
    color: $color-background;
}

.pink-button {
    background-color: $light-pink;
    color: $color-primary;
}


/*! MODULAR CLASSES */

.none {
    display: none!important;
}

.relative {
    position: relative!important;
}

.no-padding {
    padding: 0!important;
}

.vh-25 {
    height: 25vh;
    @include box-shadow;
}

.vh-45 {
    height: 45vh;
    @include box-shadow;
}


/* BACKGROUND COLORS */

.bg-color-yellow {
    background-color: $light-yellow;
}

.bg-color-lightblue {
    background-color: $light-blue;
}

// CLASSE MODULARE PER IL BOX-SHADOW DELLA NAVBAR
.nav_scrollOverHeader {
    @include box-shadow;
}