/*! QUERY TABLET */

@media screen and (max-width: 1169px) {
    /*! NAVBAR */
    nav.nav-desktop {
        display: none!important;
    }
    nav.nav-mobile {
        display: flex!important;
    }
    /*! INDEX */
    .jumbotron-big {
        width: 100%;
        height: fit-content!important;
    }
    .jumbotron-wrapper {
        width: 100%;
        flex-flow: column nowrap;
        .jumbotron-left-container {
            @include main-wrapper;
        }
        .jumbotron-right-container {
            display: none;
        }
    }
    section#payments {
        height: fit-content;
        .payments-container {
            flex-flow: column nowrap!important;
            .payments-left-container {
                width: 100%
            }
            .payments-right-container {
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    section#banner {
        @include main-wrapper;
        h2.banner {
            font-size: 40px;
        }
    }
}


/*! QUERY MOBILE */

@media screen and (max-width: 767px) {
    /*! NAVBAR */
    .menu-mobile li {
        font-size: 24px!important;
    }
    /*! INDEX */
    select.index-select {
        width: 100%;
    }
    button.search-btn {
        width: 100%;
        margin-top: 20px;
    }
    button.collaborate {
        width: 100%;
    }
    section#banner {
        h2.banner {
            font-size: 30px;
        }
    }
}