/*! TYPOGRAPHY */

h2 {
    color: $color-font-primary;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

h2.banner {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: $color-secondary;
}

h2.dashboard-title {
    color: white;
}

h3 {
    color: $color-font-primary;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    color: $color-font-primary;
    font-size: 24px;
    font-weight: 500;
}

p.generic {
    font-size: 18px;
}