/*! TYPOGRAPHY */

h2 {
    color: $color-font-primary;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

h2.banner {
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: $pink;
}

h2.dashboard-title {
    color: white;
}

p.no-doctors {
    margin-left: 10px;
    width: 100%;
    font-size: 20px;
    padding: 200px 0;
}

h3 {
    color: $color-font-primary;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    color: $color-font-primary;
    font-size: 24px;
    font-weight: 500;
}

p.generic {
    font-size: 18px;
}