// FONTS
$font-primary: 'Karla',
sans-serif;
// COLORS
$color-primary: #1c4d7c;
$color-secondary: #528f87;
$color-background: #f6f8fee5;
$color-container: #fefcf8;
$color-border: #fafafa;
$color-font-primary: #224760;
//COLOR PALETTE
$white: #fafafa;
$cream-white: #fefcf8;
$dark-grey: #f6f8fee5;
$dark-green:#224760;
$light-green: #528f87;
$light-pink: #fae3ec;
$blue: #bfcad4;
$background-header-footer: #2a475e;