$white: #fafafa;
$cream-white: #fefcf8;
$dark-grey: #f6f8fee5;
$dark-green:#224760;
$light-green: #528f87;
$light-pink: #fae3ec;
$blue: #1c4d7c;
$main-padding: 0 50px;
$background-header-footer: #2a475e;
$font-primary: 'Karla',
sans-serif;