// FONTS
$font-primary: 'Karla',
sans-serif;
// COLORS
$color-primary: #1c4d7c;
$color-secondary: #528f87;
$color-background: #f6f8fe;
$color-shadow: #a1a1a1;
$color-container: #fefcf8;
$color-border: #fafafa;
$color-font-primary: #224760;
//COLOR PALETTE
$white: #fafafa;
$cream-white: #fefcf8;
$dark-grey: #f6f8fee5;
$dark-green:#224760;
$light-green: #528f87;
$blue: #bfcad4;
$pink: #ea0058;
$light-pink: #fae3ec;
$light-yellow: #ffe9a7;
$light-blue: #cef5f2;
$background-header-footer: #2a475e;
$light-yellow: #ffe9a7;
$light-blue: #cef5f2;
$light-grey: #f5f8ff;
$lighter-green: #cfe6ea;